html {
  height: webkit-fill-available;
}

body::after {
  content: "";
  display: block;
  height: 50px; /* Set same as footer's height */
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

.mainRoute {
  min-height: webkit-fill-available;
  min-height: 100%;
  height: 100vh;
  overflow: auto;
  margin-bottom: -50px;
  padding-bottom: 100px;
}

.logo {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.logoImg {
  width: 60%;
}

.logoTagline {
  color: #b7d0d9;
  font-weight: 400;
  font-size: 5vw;
}

.loginContainer {
  width: 75vw;
  background-color: #b7d0d9;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
  padding: 20px 0px;
  border-radius: 6px;
}

.loginContainer input {
  padding: 5px 8px;
  border: 1px solid gray;
  font-size: 14pt;
  border-radius: 6px;
  width: 75%;
}

.disclaimer {
  color: #b7d0d9;
  width: 70vw;
  font-weight: 400;
  font-size: 9pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
}

.loginContainer .loaderContainer {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.loginContainer .loaderContainer img {
  width: 40vw;
}

::placeholder {
  color: #b7d0d9;
}

.divider {
  height: 1px;
  width: 75%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #95a3a4;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 12pt;
  border-radius: 6pt;
}

button.login {
  margin-top: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 3px solid black;
  filter: drop-shadow(0px 0px 14px black);
  background-color: #b7d0d9;
  font-weight: 100;
}

.footerElementsContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 95vw;
}

a.footerElement {
  text-align: center;
  margin-top: 5px;
  flex-basis: 20%;
  color: #4e5340;
}

a.selectedButton {
  color: black;
  font-weight: 400;
}

.footerElement .icon {
  font-size: 1.2em;
}
.footerElement .label {
  font-size: 0.6em;
}
